if SHIELD_GLOVE80_CUSTOM

config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default n

config ZMK_SPLIT
    default y

config ZMK_BATTERY_REPORTING_SPLIT_REPORT_LOWEST_CHARGE
    default n

endif
